.home {
  min-height: 100%;
  .home_header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
    .header {
      display: flex;
      flex-direction: column;
			height: 100px;
      .header_search {
				flex: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
        .header_search_input {
					height: 70%;
					width: 90%;
					.header_search_input-wrap{
						border-radius: 5px;
						background-color: #ededed;
						width: 100%;
						height: 100%;
					}
        }
      }
      .header_tabs {
        flex: 1;
        position: relative;
        overflow: hidden;
      }
    }
  }
  .home_footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    height: 54px;
    .footer {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      .footer_item {
        width: 20%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          color: #e02e24;
        }
      }
    }
  }
  .home_scroll {
    height: calc(100vh - 154px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
